/* Screen is the parent container of the widgets yielded from the 
App.compose method, and can be thought of as the terminal window 
itself. */

Screen {
    /* layout: vertical; */
    align: center middle;
    layers: below above;
}

Header {
    /* background: $base01; */
    /* color: $base3; */
    /* text-style: bold; */
}

Footer {
    /* background: $base01; */
    /* color: $base3; */
    /* text-style: bold; */
}

Footer>.footer--key {
    background: $primary-lighten-1;
    /* background: $secondary;
    color: $background; */
}

Footer>.footer--highlight {
    background: $secondary-darken-1;
    color: $primary;
}

Footer>.footer--highlight-key {
    background: $secondary-darken-1;
    color: $primary;
}

/* Body is the horizontal layout in the middle  */
Body {
    /* color: $base03; */
    /* background: green; */
    /* link-hover-color: $base0; */
    /* link-hover-background: $base03; */
    /* link-style: none; */
    height: 100%;
    padding: 2 5;
    /* border: round yellow; */
}

Body>.body--row {
    /* color: $base02; */
}

Body>.body-header {
    /* color: green; */
}

Menu {
    display: none;
    layer: above;
    width: 30;
    height: 100%;
    border: none;
    background: $panel;
}

/* When this class is set, it will show the menu */
.-show-menu Menu {
    display: block;
    link-hover-color: $primary;
    link-hover-background: $secondary;
    link-style: none;
}

Menu>.menu--key-style {
    text-style: bold;
    color: $secondary;
}

Menu>.menu--style {
    color: $text;
}

Menu>.menu--key-description-style {
    color: $text;
}


#mainscreen {}

Status {
    height: 3;
    border: round;
    margin: 0 0 0 0;
}

Status>.status--key-style {
    color: $text;
}

Status>.status--value-style {
    color: $text;
}

Status>.status--highlight-key-style {
    color: $secondary;
}

Status>.status--highlight-value-style {
    color: $secondary;
}


#p1 {
    /* padding: 2 2; */
    /* text-style: bold; */
}

#p2 {
    display: none;
    width: 1fr;
    padding: 2 2;
    text-style: bold;
}

/* Dialog Stuff */

Dialog {
    display: none;
    layer: above;
    width: auto;
    border: round $primary;
    box-sizing: border-box;
    background: $boost;
}

.-show-dialog Dialog {
    display: block;
}

Dialog Container {
    /* border: wide purple; */
    width: auto;
    height: auto;
}

/* Matches the question text in the button */
#dialog_question {
    text-style: bold;
    width: 100%;
    height: auto;
    content-align: center middle;
    margin: 0 0 2 0;
}

/* Matches the container holding the dialog buttons */
.dialog_buttons {
    align: center middle;
    height: auto;
    width: auto;
    /* border: wide red; */

}

/* The button class */
Dialog Button {
    margin: 0 4;
}